<%= link_to 'BACK', students_path, class: 'btn btn-light back-home' %>

<h2>+STUDENT</h2>

<div class="form-create">
    <%= form_with model: @student do |form| %>
    <%= form.label 'Name:'%>
        <%= form.text_field :name, class:'form-control'%>
        <%= form.label 'Course:'%>
        <%= form.collection_select :course_id, Course.all, :id, :name, {}, {class: 'classItems'} %>
        <%= form.submit 'Submit', class:'btn btn-primary submit'%> 
    <% end%>
</div>
