<%= link_to 'BACK', root_path, class: 'btn btn-light back-home' %>

<main>
<div class="student-title-she">
  <h2>STUDENTS</h2>
  <h3>Search by name or registration</h3>
  <input type="text" class="form-control">
</div>

<%= link_to '+ STUDENTS', new_student_path, class: 'btn btn-light create' %>

<table class="table table-borderless bg-light">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">REGISTRATION</th>
      <th scope="col">COURSE</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.registration %></td>
        <td>FALTA ADICIONAR</td>
        <td><%= image_tag 'pencil-fill.svg'%></td>
        <td><%= link_to 'Delete', student_path(id: student.id), method: :delete, data: { confirm: 'Tem certeza?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


</main>


