<%= link_to 'BACK', root_path, class: 'btn btn-light back-home' %>


<div class="student-title-she">
  <h2>STUDENTS</h2>
  <h3>Search by name or registration</h3>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
  <button type="button" class="btn btn-light create">+ STUDENTS</button>
</div>

<div class="table-student">
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">REGISTRATION</th>
      <th scope="col">COURSE</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.registration %></td>
      <td>FALTA ADICIONAR</td>
      <td><%= image_tag 'pencil-fill.svg'%></td>
      <td><%= image_tag 'x-lg.svg'%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>


