<%= link_to 'BACK', students_path, class: 'btn btn-light back-home' %>

<div class="student-title-she">
<%= form_with model: @student do |form| %>
<h2>+STUDENT<h2>
<%= form.label 'Name:', style:'font-size: 20px'%>
    <%= form.text_field :name, class:'form-control'%>
          <% @student.errors.full_messages_for(:name).each do |message| %>
          <div style="font-size: 20px"><%= message %></div>
          <% end %>
    <%= form.submit 'Submit', class:'btn btn-primary', style: 'margin-top: 10px;'%> 
<% end%>
</div>