<%= link_to 'BACK', college_subjects_path, class: 'btn btn-light back-home' %>

<div class="student-title-she">
<%= form_with model: @college_subject do |form| %>
    <h2>+ College Subject<h2>
    <%= form.label 'Name:'%>
    <%= form.text_field :name, class:'form-control', value: @college_subject.name %>
    <%= error_message(@college_subject, :name)%>
    <%= form.text_area :description, class:'form-control', rows: '3', value: @college_subject.description %>
    <%= form.submit 'Submit', class:'btn btn-primary submit'%> 
<% end%>
</div>
