<%= link_to 'BACK', departments_path, class: 'btn btn-light back-home' %>

<div class="form-create">
    <%= form_with model: @department do |form| %>
    <h2>+Department</h2>
    <%= form.label 'Name:'%>
        <%= form.text_field :name, class:'form-control', value: @department.name %>
        <%= error_message(@department, :name)%>
        <%= form.submit 'Submit', class:'btn btn-primary submit'%> 
    <% end%>
</div>