<main class="main">
  <div class="menu-item">
    <%= image_tag 'student.svg', class: 'item people' %>
    <%= link_to 'STUDENTS', students_path, class: 'student-title' %>
  </div>

  <div class="menu-item">
    <%= image_tag 'department.svg', class: 'item department-svg' %>
    <a href="#" class="department-title">DEPARTMENTS</a>
  </div>

  <div class="menu-item">
    <%= image_tag 'courses.svg', class: 'item book-svg' %>
       <%= link_to 'COURSES', courses_path, class: 'student-title' %>
  </div>

  <div class="menu-item">
  <%= image_tag 'college-subject.svg', class: 'item college-subject-svg'%>
    <a href="#" class="college-subject-title">COLLEGE SUBJECT</a>
  </div>
</main>