<div class="left">
  <div class="menu-item">
    <%= image_tag 'student.svg', class: 'people' %>
    <%= link_to 'STUDENTS', students_path, class: 'student-title' %>
  </div>

  <div class="menu-item">
    <%= image_tag 'department.svg', class: 'department-svg' %>
    <a href="#" class="department-title">DEPARTMENTS</a>
  </div>

  <div class="menu-item">
    <%= image_tag 'courses.svg', class: 'book-svg' %>
    <a href="#" class="course-title">COURSES</a>
  </div>

  <div class="menu-item">
  <%= image_tag 'college-subject.svg', class: 'college-subject-svg'%>
    <a href="#" class="college-subject-title">COLLEGE SUBJECT</a>
  </div>
</div>

  <div>
  <%= image_tag 'college.png', class: 'img-home' %>
  </div>