
  <div>
    <%= image_tag 'student-svg.svg', class: 'people' %>
    <a href="#" class="student-title">STUDENTS</a>
  </div>

  <div>
    <%= image_tag 'department-svg.svg', class: 'department-svg' %>
    <a href="#" class="department-title">DEPARTMENTS</a>
  </div>

  <div>
    <%= image_tag 'courses-svg.svg', class: 'department-svg' %>
    <a href="#" class="course-title">COURSES</a>
  </div>

  <div>
  <%= image_tag 'college-subject-svg.svg', class: 'college-subject-svg'%>
    <a href="#" class="college-subject-title">COLLEGE SUBJECT</a>
  </div>

  <div>
  <%= image_tag 'college.png', class: 'img-home' %>
  </div>