<%= link_to 'BACK', courses_path, class: 'btn btn-light back-home' %>

<%= form_with model: @course do |form| %>
    <h2>+ COURSE</h2>
    <div class="form-group">
      <%= form.label 'Name:'%>
      <%= form.text_field :name, class:'form-control', value: @course.name %>
      <%= error_message(@course, :name)%>
      <%= form.label 'Description:'%>
      <%= form.text_area :description, class:'form-control', rows: '3', value: @course.description %>
      <%= form.collection_select :college_subject_ids, CollegeSubject.all, :id, :name, {}, {multiple: true, id: 'slim-select', class: 'classItems'} %>
      <%= form.submit 'Submit', class:'btn btn-primary submit'%> 
    </div>
<% end%>

    <%# <%= form.select :college_subject_ids, CollegeSubject.all.map { |value| [value.name, value.id]} %>

    
